

.header__nav {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 20px; 
  width: 100%; 
  background-color: #F7F6F2;

}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo h1 {
  font-family: "AldransAltW00-Medium", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #333 ;
}

.header__menu {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center; 
  gap: 32px;
  list-style: none;
}


.header__menu li {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  transition: color 0.3s ease;
}

.header__menu li a {
  text-decoration: none;
  color: inherit;
}

.header__menu li:hover a {
  color: var(--primary-color);
}

 button.cta {
  margin-left: auto; 
  padding: 15px 20px;
  width: 180px;
  border-radius: 100px;
  background: none;
  border: 2px solid var(--primary-color);
  color: var(--color-black);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

 button.cta:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.header__menu-mobile {
  display: none; 
}
@media (min-width: 1920px) {
  .header__nav {
    padding: 20px 40px;
  }

  .header__logo h1 {
    font-size: 36px;
  }

  .header__menu li {
    font-size: 18px;
    gap: 40px;
  }

  button.cta {
    width: 200px;
    padding: 20px 25px;
    font-size: 18px;
  }
}

@media (min-width: 1024px) and (max-width: 1919px) {
  .header__nav {
    padding: 15px 30px;
  }

  .header__logo h1 {
    font-size: 28px;
  }

  .header__menu li {
    font-size: 16px;
  }

  button.cta {
    width: 180px;
    padding: 15px 20px;
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header__nav {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .header__logo h1 {
    font-size: 24px;
  }

  .header__menu li {
    font-size: 14px;
  }

  button.cta {
    width: 150px;
    padding: 12px 15px;
    font-size: 14px;
  }
  
  .header__menu-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__nav {
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
  }

  .header__logo h1 {
    font-size: 20px;
  }

  .header__menu {
    display: none;
  }

  .header__menu-mobile {
    display: flex;
    align-items: center;
  }

  button.cta {
    width: 130px;
    padding: 10px 15px;
    font-size: 12px;
  }
}
